* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: left; /* Vertically center content */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Styles */
.header-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airplane-logo {
  width: 175px;
  height: 175px;
}

/* Break line/separator */
.separator {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 10px 0;
}

/* Navigation Styles */
.navigation{
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 50px; /* spacing between items */
}

.navigation li:last-child {
  margin-right: 0; /* remove margin from last nav item */
}

.navigation li a {
  position: relative; /* Set position to relative */
  text-decoration: none; /* Remove underline */
  color: grey; /* Set link color */
}

.navigation li a::after {
  content: ''; /* Add content to the pseudo-element */
  position: absolute; /* Set position to absolute */
  bottom: -2px; /* Position the line at the bottom of the link */
  left: 0; /* Start the line from the left */
  width: 0; /* Initially, the line has no width */
  height: 0.5px; /* Set line height */
  background-color: grey; /* Set line color */
  transition: width 0.7s ease; /* Add transition effect */
}

.navigation li a:hover::after {
  width: 100%; /* Expand the line to 100% width on hover */
}



